@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  font-family: "Press Start 2P", serif;
  background: linear-gradient(to bottom, #0c0c0c, #282828);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.background {
  background: url("bg-2.jpg") no-repeat center center/cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  text-align: center;
  color: #ff4edb;
  font-size: 2em;
  max-width: 800px;
  position: relative;
}

.menu {
  color: #59cbff;
  font-size: 0.8em;
  padding: 0.5em 1em;
  background: rgba(9, 9, 20, 0.7);
  border: none;
  border-radius: 5px;
  position: absolute;
  top: -177px;
  right: 335px;
  cursor: pointer;
}

.welcome-text {
  margin-top: -3em;
  padding: 10px;
  border: 2px solid #00ffab;
  font-size: 2.4rem;
  color: #ff4edb;
  display: flex;
  border-radius: 8px;
  width: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.option {
  width: 150px;
  text-align: center;
  margin: 0 20px;
  color: white;
  font-size: 1rem;
  font-weight: 200;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.option img {
  width: 195px;
  height: 106px;
  margin-bottom: 10px;
  display: block;
  margin-left: -22px;
  margin-right: auto;
  border-radius: 8px;
}

.option-title {
  font-size: 0.8em;
  margin-top: 5px;
  letter-spacing: 1px;
}

/* Placeholder images */
.coin-placeholder,
.pickaxe-placeholder,
.key-placeholder {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin: auto;
}
